﻿@model Ruta
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Reparticion> lreparticion = ViewBag.reparticionListados;
    routes_app.Models.Accion accion = new Accion();
    routes_app.Models.Instruccion instruccion = new Instruccion();
    string estado = "pendiente";
}


<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i>Nueva Hoja de Ruta</h1>
            <h4>Permite realizar la creación de una nueva hoja de ruta</h4>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/home/principal">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Nueva Hoja de Ruta</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i>Hoja de Ruta</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="~/ruta/guardar" class="form-horizontal" method="post">

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Código</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.Hidden("editar", 1)
                                @Html.HiddenFor(x => x.IdRuta)
                                @Html.HiddenFor(x => x.codruta)
                                @Html.TextBoxFor(x => x.codruta, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(x => x.IdUsuario)
                                



                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Procedencia</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.TextBoxFor(x => x.Procedencia, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(x => x.Procedencia, null, new { @class = "help-block" })


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Referencia</label>
                            <div class="col-sm-9 col-lg-10 controls">

                                @Html.TextAreaFor(x => x.Referencia, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(x => x.Referencia, null, new { @class = "help-block" })


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Fecha de Ingreso:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="input-group date date-picker" data-date="12-02-2012" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.FechaIngreso, "{0:yyyy/MM/dd}", new { @class = "form-control date-picker", required = "required" })
                                    @Html.ValidationMessageFor(x => x.FechaIngreso, null, new { @class = "help-block" })



                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Estado</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.DropDownListFor(x => x.Estado, new SelectList(
                  new List<Object>{
                       new { value = "Pendiente", text = "Pendiente"  },
                       new { value = "Cerrado", text = "Cerrado" },                       
                    },
                  "value",
                  "text", 0), new {@class="form-control" })
                          
                                   
                                
                                
                            </div>
                        </div>
                        
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label"></label>
                                <div class="col-sm-9 col-lg-10 controls">
                                    <a class="btn btn-success" href="~/home/NuevaReparticion/@Model.IdRuta" @(Model.Estado == "Cerrado" ? "disabled" : "")>Agregar repartición</a>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="box">

                                        <div class="box-content">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover fill-head">
                                                    <thead>
                                                        <tr>
                                                            <th >Fecha Entrega</th>
                                                            <th >Fecha Cierre</th>
                                                            <th >Usuario Origen</th>
                                                            <th >Usuario Destino</th>
                                                            <th >Instrucción</th>
                                                            <th >Estado </th>
                                                            <th> Acción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (var r in lreparticion)
                                                    {
                                                        estado = accion.ObtenerEstado(r.IdReparticion).ToString();
                                                        <tr>
                                                            <td>@r.FechaIngreso</td>
                                                            <td>@accion.ObtenerFechaCierre(r.IdReparticion)</td>
                                                            <td>@r.NomUsrOrig</td>
                                                            <td>@r.NomUsrDest</td>
                                                            <td>@instruccion.Obtener(accion.ObtenerIdInstruccion(r.IdReparticion))</td>
                                                            <td><span class="badge badge-@(estado == "Pendiente" ? "important" : "success")">@estado</span></td>
                                                            <td>
                                                                <a class="btn btn-primary btn-sm" href="~/reparticion/ActualizarReparticion/@r.IdReparticion"><i class="fa fa-edit"></i>@(r.Estado == "Cerrado" ? " Ver" : " Editar")</a>

                                                            </td>
                                                        </tr>
                                                    }
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <script language="javascript">
                            function MostrarAviso() {
                                valorP = document.getElementById("Procedencia").value;
                                valorR = document.getElementById("Referencia").value;
                                if (valorP.length > 0 && valorR.length > 0) {
                                    document.getElementById('imgNoticias').style.visibility = "hidden";
                                    document.getElementById('imgNoticias2').style.visibility = "visible";
                                    document.getElementById('imgNoticias2').style.float = "left";
                                }
                            }
                        </script>



                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <button data-ajax="true" class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#demo">
                                    <i class="fa fa-check"></i>
                                    Guardar
                                </button>
                                <a class="btn btn-danger" href="~/ruta/ExportarPDF/@Model.IdRuta" target="_blank">
                                    <i class="fa fa-print"></i>
                                    Imprimir
                                </a>
                                <img id="imgNoticias2" src="~/assets/images/loading.gif" width="50" height="50" style="visibility:hidden" />

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <!-- END Main Content -->
    <footer>
        <p>2016 © Módulo Informático de Hojas de Ruta - Sistemas CPAP.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END Content -->