﻿@model Reparticion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Usuario> usuarios = ViewBag.UsuariosListados;
    Accion accion = ViewBag.accionReparticion;
    Instruccion instruccion = new Instruccion();
    string fechaCadena =  ViewBag.fechaCadena;
    List<Archivos> listaArchivos = ViewBag.carpeta;
    Ruta eruta = ViewBag.rutas;
   
}


<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i>Nueva Repartición</h1>
            <h4>Adiciona instrucciones a los usuarios</h4>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/home/principal">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li>
                <a href="~/home/NuevaHojaRuta">Nueva Hoja de Ruta</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Nueva Repartición para la Hoja de Ruta: @Model.IdRuta</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i>Instrucción</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="~/reparticion/ActualizarAccion" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Código Ruta</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                
                                @Html.HiddenFor(x => x.IdReparticion)
                                <input type="text" class="form-control" name="codRuta" value="@eruta.codruta" disabled />

                                                                
                                @Html.HiddenFor(x => x.IdRuta)
                                @Html.HiddenFor(x => x.IdUsuario)
                                <input type="hidden" name="codAccion" value="@accion.IdAccion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Procedencia</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" class="form-control" name="codRuta" value="@eruta.Procedencia" disabled />
                           </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Referencia</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" class="form-control" name="codRuta" value="@eruta.Referencia" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Fecha de Entrega</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="input-group date date-picker" data-date="12-02-2012" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.FechaIngreso, "{0:yyyy/MM/dd}", new { @class = "form-control date-picker", required = "required", disabled = "disabled" })
                                    @Html.ValidationMessageFor(x => x.FechaIngreso, null, new { @class = "help-block" })



                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Usuario Origen</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <select name="CodUsrOrig" class="form-control" tabindex="1" disabled>
                                    @foreach (var u in usuarios)
                                    {
                                        <option @(Model.CodUsrOrig == u.IdUsuario.ToString() ? "selected" : "") value="@u.IdUsuario">@u.Nombre - @u.Cargo</option>

                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Usuario Destino</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <select name="CodUsrDest" class="form-control" tabindex="1" disabled>
                                    @foreach (var u in usuarios)
                                    {
                                        <option @(Model.CodUsrDest == u.IdUsuario.ToString() ? "selected" : "") value="@u.IdUsuario">@u.Nombre - @u.Cargo</option>
                                        
                                    }
                                </select>

                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Acción</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <span class="badge badge-xxlarge badge-info">@instruccion.Obtener(accion.IdInstruccion)</span>
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Instructivo adicional:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.TextAreaFor(x => x.observacion, new { @class = "form-control valid", disabled = "disabled" })

                                <span class="help-block field-validation-valid" data-valmsg-for="Referencia" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        @if (listaArchivos.Count > 0)
                        {
                            foreach (var a in listaArchivos)
                            {
                                if (a.tipo == "1") { 
                                <div class="form-group">
                                    <label class="col-sm-3 col-lg-2 control-label"></label>
                                    <div class="col-sm-7 col-lg-3 controls">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-file"></i>
                                            </span>
                                            <label class="form-control">@a.Path</label>
                                            <span class="input-group-btn">
                                                <button class="btn btn-inverse" onclick="location.href='../../img/uploads/@a.Path';" type="button"> Descargar</button>
                                            </span>
                                          
                                        </div>
                                    </div>
                                </div>
                                }
                            }

                        }

                        <div class="box">
                            <div class="box-title">
                                <h3>
                                    <i class="fa fa-bell"></i>
                                    Respuesta del usuario
                                </h3>
                                
                            </div>
                            <div class="box-content">
                                <div class="form-group">
                                    <label class="col-sm-3 col-lg-2 control-label">Respuesta / Descripcion</label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <textarea name="descripcion" class="form-control" @(accion.FechaCierre != null ? "disabled" : "") rows="3">@accion.Descripcion</textarea>

                                        <span class="help-block field-validation-valid" data-valmsg-for="descripcion" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 col-lg-2 control-label">Fecha de Entrega</label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <div class="input-group date date-picker" data-date="12-02-2012" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            
                                                
                                                    <input id="FechaEntrega" class="form-control date-picker" data-val="true" data-val-date="El campo Fecha Entrega debe ser una fecha." disabled="disabled" name="FechaEntrega" required="required" value="@fechaCadena" type="text">
                                                    <input type="hidden" name="FechaEntregaAccion" value="@fechaCadena" />
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 col-lg-2 control-label">Estado</label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                            
                                        <select name="EstadoAccion" class="form-control" tabindex="1" @(accion.FechaCierre != null ? "disabled" : "")>
                                            <option selected value="Pendiente">En Revisión</option>
                                            <option value="Cerrado">Cerrado</option>


                                        </select>
                                        <span class="help-block field-validation-valid" data-valmsg-for="Referencia" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                @if (listaArchivos.Count > 0)
                                {
                                    foreach (var a in listaArchivos)
                                    {
                                        if (a.tipo == "2")
                                        {
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label"></label>
                                                <div class="col-sm-7 col-lg-3 controls">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-file"></i>
                                                        </span>
                                                        <label class="form-control">@a.Path</label>
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-inverse" onclick="location.href='../../img/uploads/@a.Path';" type="button"> Descargar</button>
                                                        </span>
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger" type="button" onclick="location.href='../eliminarArchivo/@a.IdArchivo';">Eliminar</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                }

                            </div>                            
                        </div>

                        
                    


                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <button data-ajax="true" class="btn btn-primary" @(accion.FechaCierre != null ? "disabled" : "") type="submit">
                                    <i class="fa fa-check"></i>
                                    Guardar
                                </button>

                                <a class="btn" href="~/home/principal">Cancelar</a>
                                <a class="btn btn-danger" href="~/reparticion/imprimir/@Model.IdReparticion" target="_blank">
                                    <i class="fa fa-print"></i>
                                    Imprimir
                                </a>
                            </div>
                        </div>
                    </form>

                    <form action="~/reparticion/subirArchivo" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Subir archivo</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="input-group col-md-7">
                                    <input class="form-control" name="CargaArchivo" type="file" @(Model.Estado == "Cerrado" ? "disabled" : "")>
                                    <input type="hidden" name="nivel" value="2" />
                                    <input type="hidden" name="codDoc" value="@accion.IdAccion" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" data-ajax="true" type="submit" @(Model.Estado == "Cerrado" ? "disabled" : "")>Cargar archivo</button>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <!-- END Main Content -->
    <footer>
        <p>2016 © Módulo Informático de Hojas de Ruta - Sistemas CPAP.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END Content -->
