﻿@model Ruta
@{
    Layout = null;
    List<Reparticion> lreparticion = ViewBag.listaReparticion;
    routes_app.Models.Accion accion = new Accion();
    routes_app.Models.Instruccion instruccion = new Instruccion();
    DateTime fecha = ViewBag.fechaActual;
    Usuario usuario = new Usuario();
    

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>HOJA DE RUTA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--base css styles-->
    <link rel="stylesheet" href="C:\inetpub\wwwroot\RUTA\assets\bootstrap\css\bootstrap.min.css">
    
    
  
</head>
<body>
    
        <table style="width:100%;">
            <tr >
                <th align="left"><img src="C:\inetpub\wwwroot\RUTA\img\demo\logo.png" /></th>
                <th align="center"><h3>HOJA DE RUTA N° @Model.codruta</h3></th>
                <th align="right"><img src="C:\inetpub\wwwroot\RUTA\img\demo\logocpap.png" /></th>
            </tr>
        </table>
      <br />
    
            <dl style="width:90%;" >
                <dt style="float:left;clear:left;width:100px;">Procedencia: </dt>
                <dd>&nbsp;@Model.Procedencia</dd>
                <dt style="float:left;clear:left;width:100px; ">Referencia: </dt>
                <dd>&nbsp;@Model.Referencia</dd>
                <dt style="float:left; clear:left;width:140px;">Fecha de Ingreso: </dt>
                <dd>&nbsp;@String.Format("{0:dd/MM/yyyy}",Model.FechaIngreso)</dd>
            </dl>
        
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Repartición de</th>
                <th>A</th>
                <th>Instrucción</th>
                <th>Fecha Derivación</th>
                
            </tr>
        </thead>
        <tbody>
                @foreach (var r in lreparticion)
                {
            <tr>
                <td>@r.NomUsrOrig - @usuario.ObtenerCargo(Convert.ToInt32(r.CodUsrOrig))</td>
                <td>@r.NomUsrDest - @usuario.ObtenerCargo(Convert.ToInt32(r.CodUsrDest))</td>
                <td>@instruccion.Obtener(accion.ObtenerIdInstruccion(r.IdReparticion))</td>
                <td>@String.Format("{0:dd/MM/yyyy}",r.FechaIngreso)</td>
                
            </tr>
                 if (r.observacion != null){
                    <tr>
                        <td colspan="4">@r.observacion</td>
                   </tr>
                }
            }
            

        </tbody>
    </table>
    <br /><br /><br />
    <table align="right" style="width:60%">
        <tr>
            <td align="right">--------------------------</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td align="right" style="padding-right: 3.2em;">FIRMA</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
    </table>
    <br />
    <p><h6><small>Impresion: @String.Format("{0:dd/MM/yyyy HH:mm}", fecha)</small>   </h6> </p>

    <!-- REPLICA IMPRESION-->
    <br /><br /><br /><br /><br />

    <table style="width:100%;">
        <tr>
            <th align="left"><img src="C:\inetpub\wwwroot\RUTA\img\demo\logo.png" /></th>
            <th align="center"><h3>HOJA DE RUTA N° @Model.codruta</h3></th>
            <th align="right"><img src="C:\inetpub\wwwroot\RUTA\img\demo\logocpap.png" /></th>
        </tr>
    </table>
    <br />

    <dl style="width:90%;">
        <dt style="float:left;clear:left;width:100px;">Procedencia: </dt>
        <dd>&nbsp;@Model.Procedencia</dd>
        <dt style="float:left;clear:left;width:100px; ">Referencia: </dt>
        <dd>&nbsp;@Model.Referencia</dd>
        <dt style="float:left; clear:left;width:140px;">Fecha de Ingreso: </dt>
        <dd>&nbsp;@String.Format("{0:dd/MM/yyyy}", Model.FechaIngreso)</dd>
    </dl>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Repartición de</th>
                <th>A</th>
                <th>Instrucción</th>
                <th>Fecha Derivación</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var r in lreparticion)
            {
                <tr>
                    <td>@r.NomUsrOrig - @usuario.ObtenerCargo(Convert.ToInt32(r.CodUsrOrig))</td>
                    <td>@r.NomUsrDest - @usuario.ObtenerCargo(Convert.ToInt32(r.CodUsrDest))</td>
                    <td>@instruccion.Obtener(accion.ObtenerIdInstruccion(r.IdReparticion))</td>
                    <td>@String.Format("{0:dd/MM/yyyy}", r.FechaIngreso)</td>
                </tr>
                
                    if (r.observacion != null){
               
            
                        <tr>
                            <td colspan="4">@r.observacion</td>
                        </tr>
                    }
            }


        </tbody>
    </table>
    <br /><br /><br />
    <table align="right" style="width:60%">
        <tr>
            <td align="right">--------------------------</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td align="right" style="padding-right: 3.2em;">FIRMA</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
    </table>
    <br />
    <p><h6><small>Impresion: @String.Format("{0:dd/MM/yyyy HH:mm}", fecha)</small>   </h6> </p>
    
</body>
</html>
