﻿@{
    Layout = "~/Views/Shared/_login.cshtml";

    
    
    
}


    <!-- BEGIN Main Content -->
    <div class="login-wrapper">
        <!-- BEGIN Login Form -->
        <form id="form-login" action="~/home/Acceder" method="post">
            <h3>Inicia sesión</h3>
            <hr />
            
            <div class="form-group">
                <div class="controls">
                    <input type="text" name="cuenta" placeholder="Usuario" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <input type="password" name="password" placeholder="Contraseña" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" value="remember" /> Mantener sesión iniciada
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button data-ajax="true" type="submit" class="btn btn-primary form-control">Iniciar Sesión</button>
                </div>
            </div>
            
            <hr />
            <p class="clearfix">
                <a href="email.html" class="goto-forgot pull-left">¿Tienes problema para iniciar sesión?</a>

            </p>
        </form>
        <!-- END Login Form -->

    </div>
    <!-- END Main Content -->
   