﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<routes_app.Models.Ruta.RutaMaestro> listadoRutas = ViewBag.listaMaestro;
}

<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i>Hojas de ruta</h1>
            <h4>Version 1.0 (beta)</h4>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">
                <i class="fa fa-home"></i>
                <a href="principal">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    
    
    
    
    
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-table"></i> Listado de Pendientes</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        
                            <table id="table1" class="table table-advance dataTable" aria-describedby="table1_info">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Código</th>
                                        <th>Procedencia</th>
                                        <th>Referencia</th>
                                        <th>Usuario</th>
                                        <th style="width: 150px">Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var rm in listadoRutas)
                                    {
                                        <tr>
                                            <td>@rm.FechaIngreso</td>
                                            <td>@rm.codRuta</td>
                                            <td>@rm.Procedencia</td>
                                            <td>@rm.Referencia</td>
                                            <td>@rm.Usuario</td>
                                            <td><span class="badge badge-@(rm.Estado == "Pendiente" ? "important" : "success")">@rm.Estado</span></td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="~/reparticion/entregarreparticion/@rm.IdReparticion"><i class="fa fa-edit"></i> Edit</a>

                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                          </div> <!-- aqui estamos-->
                        
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- END Main Content -->
    <footer>
        <p>2016 © Módulo Informático de Hojas de Ruta - Sistemas CPAP.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END Content -->