﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Ruta> listaRutas = ViewBag.rutasListado;
}

<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i>Sin derivación</h1>
            <h4>Hojas de ruta pendientes de derivación</h4>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">
                <i class="fa fa-home"></i>
                <a href="principal">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>

        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->





    <div class="row">
        <div class="col-md-12">
            <div class="box box-black">
                <div class="box-title">
                    <h3><i class="fa fa-table"></i>Hojas de Ruta sin derivar</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="~/home/SinReparticion" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Filtrar desde fecha :</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="input-group date date-picker" data-date="12-02-2012" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.TextBox("FechaInicio", null, new { @class = "form-control date-picker", required = "required" })


                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Filtrar hasta fecha:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="input-group date date-picker" data-date="12-02-2012" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.TextBox("FechaFin", null, new { @class = "form-control date-picker", required = "required" })


                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#demo">
                                    <i class="fa fa-check"></i>
                                    Filtrar por Fecha
                                </button>


                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-content">
                    <table id="table1" class="table table-advance dataTable" aria-describedby="table1_info">
                        <thead>
                            <tr>
                                <th>Fecha Ingreso</th>
                                <th>Código</th>
                                <th>Procedencia</th>
                                <th>Referencia</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in listaRutas)
                            {
                                <tr>
                                    <td>@r.FechaIngreso</td>
                                    <td>@r.codruta</td>
                                    <td>@r.Procedencia</td>
                                    <td>@r.Referencia</td>
                                    <td><span class="badge badge-@(r.Estado == "Pendiente" ? "important" : "success")">@r.Estado</span></td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="~/ruta/EditarNuevaHojaRuta/@r.IdRuta">
                                            <i class="fa fa-edit"></i>
                                            Ver
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- END Main Content -->
    <footer>
        <p>2016 © Módulo Informático de Hojas de Ruta - Sistemas CPAP.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END Content -->
