﻿
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i>Editar Repartición</h1>
            <h4>Confirma cada instrucción asignada a tu usuario</h4>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="principal">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Editar Repartición</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i>Hoja de Ruta</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="#" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">ID</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input class="form-control" readonly type="text" placeholder="44599" disabled />
                                
                            </div>
                        </div>
                                                
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Procedencia</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" placeholder="lic. J.Ferrufino - Rvacunas El Alto" class="form-control" disabled />
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Referencia</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <textarea class="form-control" rows="3" disabled>Comprobante de Requerimientos Biologicos y Jeringas </textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Fecha de Ingreso:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="input-group date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input class="form-control date-picker" size="16" value="12-02-2012" required="" type="text" disabled>
                                </div>
                            </div>
                        </div>

                                   

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="box">

                                    <div class="box-content">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover fill-head">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 150px">Fecha Entrega</th>
                                                        <th style="width: 150px">Fecha Cierre</th>
                                                        <th>Descripción</th>
                                                        <th style="width: 150px">Instrucción</th>
                                                        <th style="width: 150px">Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Mark</td>
                                                        <td>Otto<span class="label label-info pull-right"><i class="fa fa-twitter"></i> New Twitte</span></td>
                                                        <td>Mark</td>
                                                        <td>
                                                            <a class="btn btn-primary btn-sm" href="EditarInstruccion"><i class="fa fa-edit"></i> Editar</a>
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Jacob</td>
                                                        <td>Thornton</td>
                                                        <td>Mark</td>
                                                        <td>
                                                            <a class="btn btn-primary btn-sm" href="#"><i class="fa fa-edit"></i> Editar</a>
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Larry <span class="label label-success label-small pull-right">New User</span></td>
                                                        <td>the Bird</td>
                                                        <td>Mark</td>
                                                        <td>
                                                            <a class="btn btn-primary btn-sm" href="#"><i class="fa fa-edit"></i> Editar</a>
                                                            
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                                                <a class="btn btn-success" href="principal">Cerrar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
  
    
    
    
    <!-- END Main Content -->
    <footer>
        <p>2016 © Módulo Informático de Hojas de Ruta - Sistemas CPAP.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END Content -->
