﻿@model Ruta
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i>Nueva Hoja de Ruta</h1>
            <h4>Permite realizar la creación de una nueva hoja de ruta</h4>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/home/principal">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Nueva Hoja de Ruta</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i>Hoja de Ruta</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="~/ruta/guardar" class="form-horizontal" method="post">

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Código</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.HiddenFor(x => x.IdRuta)
                                @Html.HiddenFor(x => x.codruta)
                                @Html.TextBoxFor(x => x.codruta, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(x => x.IdUsuario)
                                @Html.HiddenFor(x => x.Estado)

                                

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Procedencia</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.TextBoxFor(x => x.Procedencia, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(x => x.Procedencia, null, new { @class = "help-block" })
                                

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Referencia</label>
                            <div class="col-sm-9 col-lg-10 controls">

                                @Html.TextAreaFor(x => x.Referencia, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(x => x.Referencia, null, new { @class = "help-block" })

                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Fecha de Ingreso:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="input-group date date-picker" data-date="12-02-2012" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.FechaIngreso, "{0:yyyy/MM/dd}", new { @class = "form-control date-picker", required = "required" })
                                    @Html.ValidationMessageFor(x => x.FechaIngreso, null, new { @class = "help-block" })


                                    
                                </div>
                            </div>
                        </div>
                        <div id="demo" class="collapse">
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label"></label>
                                <div class="col-sm-9 col-lg-10 controls">
                                    <a class="btn btn-success" href="NuevaReparticion">Agregar repartición</a>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="box">

                                        <div class="box-content">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover fill-head">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 150px">Fecha Entrega</th>
                                                            <th style="width: 150px">Fecha Cierre</th>
                                                            <th>Descripción</th>
                                                            <th style="width: 150px">Instrucción</th>
                                                            <th style="width: 150px">Acción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Mark</td>
                                                            <td>Otto<span class="label label-info pull-right"><i class="fa fa-twitter"></i> New Twitte</span></td>
                                                            <td>Mark</td>
                                                            <td>
                                                                <a class="btn btn-primary btn-sm" href="EditarInstruccionDireccion"><i class="fa fa-edit"></i> Editar</a>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Jacob</td>
                                                            <td>Thornton</td>
                                                            <td>Mark</td>
                                                            <td>
                                                                <a class="btn btn-primary btn-sm" href="#"><i class="fa fa-edit"></i> Editar</a>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Larry <span class="label label-success label-small pull-right">New User</span></td>
                                                            <td>the Bird</td>
                                                            <td>Mark</td>
                                                            <td>
                                                                <a class="btn btn-primary btn-sm" href="#"><i class="fa fa-edit"></i> Editar</a>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <button data-ajax="true" class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#demo">
                                    <i class="fa fa-check"></i>
                                    Guardar
                                </button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <!-- END Main Content -->
    <footer>
        <p>2016 © Módulo Informático de Hojas de Ruta - Sistemas CPAP.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END Content -->
