﻿@model Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i>Nuevo Usuario</h1>
            <h4>Crea un usuario en el sistema</h4>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="principal">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li ><a href="Usuarios">Usuarios</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span></li>
            <li class="active">Nuevo usuario</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i>Usuarios</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="~/usuario/guardar" id="validation-form" method="post" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">ID</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.HiddenFor(x => x.IdUsuario)
                                @Html.TextBoxFor(x => x.IdUsuario, new { @class = "form-control", disabled = "disabled" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">CI</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.TextBoxFor(x => x.CI, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(x => x.CI, null, new { @class = "help-block" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Nombre</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "help-block" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Cargo</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.TextBoxFor(x => x.Cargo, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(x => x.Cargo, null, new { @class = "help-block" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Cuenta</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.TextBoxFor(x => x.Cuenta, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(x => x.Cuenta, null, new { @class = "help-block" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Contraseña</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input name="password" class="form-control" type="password" placeholder="" required />
                                

                            </div>
                        </div>

                       

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Nivel autorización</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <select name="CodUsr" class="form-control" tabindex="1">
                                    <option value="2">Usuario Normal</option>
                                    <option value="1">Administrador Sistema</option>

                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Foto</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input class="form-control" name="foto" type="file">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Estado</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <select name="estado" class="form-control" tabindex="1">
                                    <option value="hab">Habilitado</option>
                                    <option value="des">Deshabilitado</option>

                                </select>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <button data-ajax="true" class="btn btn-primary" type="submit">
                                    <i class="fa fa-check"></i>
                                    Guardar
                                </button>

                                <a class="btn" href="Usuarios">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <!-- END Main Content -->
    <footer>
        <p>2016 © Módulo Informático de Hojas de Ruta - Sistemas CPAP.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END Content -->
