﻿@{
    routes_app.Models.Usuario usuario = new routes_app.Models.Usuario().Obtener(Helper.SessionHelper.GetUser());
    routes_app.Models.Permisos permiso = new routes_app.Models.Permisos().Obtener(Helper.SessionHelper.GetUser());    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Routes :: Centro de Pediatría Albina R. de Patiño</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--base css styles-->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/data-tables/bootstrap3/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/assets/bootstrap-datepicker/css/datepicker.css">
    <!--page specific css styles-->
    <!--flaty css styles-->
    <link rel="stylesheet" href="~/css/flaty.css">
    <link rel="stylesheet" href="~/css/flaty-responsive.css">
    <link rel="shortcut icon" href="~/img/favicon.html">


</head>
<body>
    <!-- BEGIN Theme Setting -->
  
    <!-- END Theme Setting -->
    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar">
        <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="#">
            <small>
                <i class="fa fa-desktop"></i>

                Centro de Pediatría Albina R. de Patiño
            </small>
        </a>
        <!-- BEGIN Navbar Buttons -->
        <ul class="nav flaty-nav pull-right">
            <!-- BEGIN Button Tasks -->
            <!---<li class="hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-tasks"></i>
                    <span class="badge badge-warning">4</span>
                </a>-->
                <!-- BEGIN Tasks Dropdown -->
                <!--
                <ul class="dropdown-navbar dropdown-menu">
                    <li class="nav-header">
                        <i class="fa fa-check"></i>
                        4 Tasks to complete
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Software Update</span>
                                <span class="pull-right">75%</span>
                            </div>
                            <div class="progress progress-mini">
                                <div style="width:75%" class="progress-bar progress-bar-warning"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Transfer To New Server</span>
                                <span class="pull-right">45%</span>
                            </div>
                            <div class="progress progress-mini">
                                <div style="width:45%" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Bug Fixes</span>
                                <span class="pull-right">20%</span>
                            </div>
                            <div class="progress progress-mini">
                                <div style="width:20%" class="progress-bar"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Writing Documentation</span>
                                <span class="pull-right">85%</span>
                            </div>
                            <div class="progress progress-mini progress-striped active">
                                <div style="width:85%" class="progress-bar progress-bar-success"></div>
                            </div>
                        </a>
                    </li>
                    <li class="more">
                        <a href="#">See tasks with details</a>
                    </li>
                </ul>-->
                <!-- END Tasks Dropdown 
            </li>-->
            <!-- END Button Tasks -->
            <!-- BEGIN Button Notifications 
            <li class="hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-important">5</span>
                </a>
                <!-- BEGIN Notifications Dropdown 
                <ul class="dropdown-navbar dropdown-menu">
                    <li class="nav-header">
                        <i class="fa fa-warning"></i>
                        5 Notifications
                    </li>
                    <li class="notify">
                        <a href="#">
                            <i class="fa fa-comment orange"></i>
                            <p>New Comments</p>
                            <span class="badge badge-warning">4</span>
                        </a>
                    </li>
                    <li class="notify">
                        <a href="#">
                            <i class="fa fa-twitter blue"></i>
                            <p>New Twitter followers</p>
                            <span class="badge badge-info">7</span>
                        </a>
                    </li>
                    <li class="notify">
                        <a href="#">
                            <img src="../img/demo/avatar/avatar2.jpg" alt="Alex" />
                            <p>David would like to become moderator.</p>
                        </a>
                    </li>
                    <li class="notify">
                        <a href="#">
                            <i class="fa fa-bug pink"></i>
                            <p>New bug in program!</p>
                        </a>
                    </li>
                    <li class="notify">
                        <a href="#">
                            <i class="fa fa-shopping-cart green"></i>
                            <p>You have some new orders</p>
                            <span class="badge badge-success">+10</span>
                        </a>
                    </li>
                    <li class="more">
                        <a href="#">See all notifications</a>
                    </li>
                </ul>
                <!-- END Notifications Dropdown 
            </li>-->
            <!-- END Button Notifications -->
            <!-- BEGIN Button Messages -->
            <!--
            <li class="hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-success">3</span>
                </a>
                <!-- BEGIN Messages Dropdown 
                <ul class="dropdown-navbar dropdown-menu">
                    <li class="nav-header">
                        <i class="fa fa-comments"></i>
                        3 Messages
                    </li>
                    <li class="msg">
                        <a href="#">
                            <img src="img/demo/avatar/avatar3.jpg" alt="Sarah's Avatar" />
                            <div>
                                <span class="msg-title">Sarah</span>
                                <span class="msg-time">
                                    <i class="fa fa-clock-o"></i>
                                    <span>a moment ago</span>
                                </span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </a>
                    </li>
                    <li class="msg">
                        <a href="#">
                            <img src="img/demo/avatar/avatar4.jpg" alt="Emma's Avatar" />
                            <div>
                                <span class="msg-title">Emma</span>
                                <span class="msg-time">
                                    <i class="fa fa-clock-o"></i>
                                    <span>2 Days ago</span>
                                </span>
                            </div>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ...</p>
                        </a>
                    </li>
                    <li class="msg">
                        <a href="#">
                            <img src="img/demo/avatar/avatar5.jpg" alt="John's Avatar" />
                            <div>
                                <span class="msg-title">John</span>
                                <span class="msg-time">
                                    <i class="fa fa-clock-o"></i>
                                    <span>8:24 PM</span>
                                </span>
                            </div>
                            <p>Duis aute irure dolor in reprehenderit in ...</p>
                        </a>
                    </li>
                    <li class="more">
                        <a href="#">See all messages</a>
                    </li>
                </ul>
                <!-- END Notifications Dropdown 
            </li>-->
            <!-- END Button Messages -->
            <!-- BEGIN Button User -->
            <li class="user-profile">
                <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                    <img class="nav-user-photo" src="~/img/demo/avatar/@usuario.foto" alt="Penny's Photo" />
                    <span id="user_info">
                        @usuario.Nombre 
                    </span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <!-- BEGIN User Dropdown -->
                <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                   
                    
                    <li>
                        <a href="~/Home/EditarUsuario/@SessionHelper.GetUser()">
                            <i class="fa fa-user"></i>
                            Editar Perfil
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-question"></i>
                            Help
                        </a>
                    </li>
                    <li class="divider visible-xs"></li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-tasks"></i>
                            Tasks
                            <span class="badge badge-warning">4</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-bell"></i>
                            Notifications
                            <span class="badge badge-important">8</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            Messages
                            <span class="badge badge-success">5</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="~/Home/Logout">
                            <i class="fa fa-off"></i>
                            Salir de la sesión
                        </a>
                    </li>
                </ul>
                <!-- BEGIN User Dropdown -->
            </li>
            <!-- END Button User -->
        </ul>
        <!-- END Navbar Buttons -->
    </div>
    <!-- END Navbar -->


    <!-- BEGIN Container -->
    <div class="container" id="main-container">
        <!-- BEGIN Sidebar -->
        <div id="sidebar" class="navbar-collapse collapse">
            <!-- BEGIN Navlist -->
            <ul class="nav nav-list">
                <!-- BEGIN Search Form -->
                <li>
                    <form target="#" method="GET" class="search-form">
                        <span class="search-pan">
                            <!--<button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" name="search" placeholder="Search ..." autocomplete="off" />-->
                        </span>
                    </form>
                </li> 
                <!-- END Search Form -->
              @if (permiso.CodUsr == 1) { 
                <li @(permiso.CodUsr == 1 ? "class=active" : "")>
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-dashboard"></i>
                        <span>Dirección</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li class="active"><a href="~/home/nuevahojaruta">Nueva Hoja de Ruta</a></li>
                        <li><a href="~/home/SinReparticion">Sin derivaciones</a></li>
                        <li><a href="~/reportes/PendientesCerrar">Pendientes para Concluir</a></li>
                        <li><a href="~/reportes/PendientesLectura">Sin Lectura</a></li>
                        <li><a href="~/reportes/PendientesRespuesta">Pendientes de Respuesta</a></li>
                        <li><a href="~/home/VerificarEstado">Verificar Estado</a></li>
                       <li><a href="~/home/Usuarios">Usuarios</a></li>
                    </ul>
                    <!-- END Submenu -->
                </li>

                  <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-calendar"></i>
                        <span>Reportes</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li ><a href="~/reportes/Ingresos">Ingresos por Fecha</a></li>
                        <li><a href="~/reportes/Salidas">Salidas por Fecha</a></li>
                        
                    </ul>
                    <!-- END Submenu -->
                </li>
                }

                <li @(permiso.CodUsr == 1 ? "" : "class=active")>
                    <a href="#" class="dropdown-toggle">
                        <i class="fa fa-list"></i>
                        <span>Hojas de Ruta</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        <li class="active"><a href="~/home/principal">Listado Pendientes</a></li>
                        <li><a href="~/home/historicos">Históricos</a></li>

                    </ul>
                    <!-- END Submenu -->
                </li>
              
               
            </ul>
            <!-- END Navlist -->
            <!-- BEGIN Sidebar Collapse Button -->
            <div id="sidebar-collapse" class="visible-lg">
                <i class="fa fa-angle-double-left"></i>
            </div>
            <!-- END Sidebar Collapse Button -->
        </div>
        <!-- END Sidebar -->
        
        @RenderBody()
       
        
    </div>
    <!-- END Container -->
    <!--basic scripts-->
    <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/assets/jquery/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>
    <script src="~/js/ini.js"></script>
    <script src="~/js/jquery-form.js"></script>

    <script src="~/js/jquery.anexgrid.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <!--page specific plugin scripts-->
    <!--flaty scripts-->
    <script src="~/js/flaty.js"></script>
    <script src="~/js/flaty-demo-codes.js"></script>
    <script type="text/javascript" src="~/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        </body>
        <!-- Mirrored from shamsoft.net/flaty/table_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Nov 2016 13:59:28 GMT -->
        </html>
