﻿@model Ruta
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i>Reportes de Ingresos</h1>
            <h4>Permite buscar en un rango de fechas los Ingresos de las Hojas de Ruta</h4>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/home/principal">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Reportes de Ingreso</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i></h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="~/reportes/IngresosResultado" class="form-horizontal" method="post">

                     
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label"> Fecha Inicial</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="input-group date date-picker" data-date="12-02-2012" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input id="fecha1" name="fecha1" type="text" class="form-control date-picker" required />
                                    <span class="field-validation-valid help-block" data-valmsg-for="fecha1" data-valmsg-replace="true"></span>


                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Fecha Final</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="input-group date date-picker" data-date="12-02-2012" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input id="fecha2" name="fecha2" type="text" class="form-control date-picker" required />
                                    <span class="field-validation-valid help-block" data-valmsg-for="fecha2" data-valmsg-replace="true"></span>


                                </div>
                              
                               

                            </div>
                        </div>

                      

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#demo">
                                    <i class="fa fa-check"></i>
                                    Consultar
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <!-- END Main Content -->
    <footer>
        <p>2016 © Módulo Informático de Hojas de Ruta - Sistemas CPAP.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END Content -->
