﻿@model Ruta
@{
    Layout = null;
    Reparticion lreparticion = ViewBag.reparticion;
    routes_app.Models.Accion accion = new Accion();
    routes_app.Models.Instruccion instruccion = new Instruccion();
    DateTime fecha = ViewBag.fechaActual;
    Usuario usuario = new Usuario();
    Accion accionUsuario = ViewBag.acciones;


}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>HOJA DE RUTA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--base css styles-->
    <link rel="stylesheet" href="C:\inetpub\wwwroot\RUTA\assets\bootstrap\css\bootstrap.min.css">



</head>
<body>

    <table style="width:100%;">
        <tr>
            <th align="left"><img src="C:\inetpub\wwwroot\RUTA\img\demo\logo.png" /></th>
            <th align="center"><h3>HOJA DE RUTA N° @Model.codruta</h3></th>
            <th align="right"><img src="C:\inetpub\wwwroot\RUTA\img\demo\logocpap.png" /></th>
        </tr>
    </table>
    <br />
    
    <!--<dl style="width:90%;">
        <dt style="float:left;clear:left;width:100px;">Procedencia: </dt>
        <dd>&nbsp;@Model.Procedencia</dd>
        <dt style="float:left;clear:left;width:100px; ">Referencia: </dt>
        <dd>&nbsp;@Model.Referencia</dd>
        <dt style="float:left; clear:left;width:140px;">Fecha de Ingreso: </dt>
        <dd>&nbsp;@String.Format("{0:dd/MM/yyyy}", Model.FechaIngreso)</dd>
    </dl>-->

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Repartición de</th>
                <th>A</th>
                <th>Instrucción</th>
                <th>Ingreso</th>
                <th>Cierre</th>

            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>@lreparticion.NomUsrOrig - @usuario.ObtenerCargo(Convert.ToInt32(lreparticion.CodUsrOrig))</td>
                    <td>@lreparticion.NomUsrDest - @usuario.ObtenerCargo(Convert.ToInt32(lreparticion.CodUsrDest))</td>
                    <td>@instruccion.Obtener(accion.ObtenerIdInstruccion(lreparticion.IdReparticion))</td>
                    <td>@String.Format("{0:dd/MM/yyyy}", lreparticion.FechaIngreso)</td>
                    <td>@String.Format("{0:dd/MM/yyyy}", accion.ObtenerFechaCierre(lreparticion.IdReparticion))</td>

                </tr>
            


        </tbody>
    </table>
    <dl style="width:90%;">
        <dt>Respuesta / Descripción: </dt>
        <dd>&nbsp;@accionUsuario.Descripcion</dd>
    </dl>
    <br /><br /><br />
    <table align="center" style="width:100%">
        <tr>
            <td align="center">--------------------------------------</td>
            
        </tr>
        <tr>
            <td align="center">@lreparticion.NomUsrDest</td>
            
        </tr>
        <tr>
            <td align="center" >@usuario.ObtenerCargo(Convert.ToInt32(lreparticion.CodUsrDest))</td>
            
        </tr>
    </table>
        <p><h6><small>Impresion: @String.Format("{0:dd/MM/yyyy HH:mm}", fecha)</small>   </h6> </p>

    


</body>
</html>
